{
  "extends": [
    "eslint:recommended",
    "plugin:mocha/recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "plugins": [
    "prettier",
    "mocha",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "assert": false,
    "makeTestFeature": false,
    "shouldReject": false
  },
  "rules": {
    "no-extra-semi": "off",
    "no-process-exit": "off",
    "no-unused-vars": [ "error", { "vars": "all", "args": "after-used" }],
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "semi": false,
        "printWidth": 150,
        "arrowParens": "avoid"
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-hooks-for-single-case": "off",
    "mocha/no-mocha-arrows": "off",
    "mocha/no-pending-tests": "error",
    "mocha/no-setup-in-describe": "off",
    "strict": [ "error", "never" ],
    "valid-jsdoc": "off"
  }
}
